.message-for-player {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  font-family: "Share Tech Mono", monospace;
  color: white;
  margin-top: 20px;
}

.win {
  /* width: max-content;
  margin-left: 50px;
  font-size: 65px;
  position: relative !important;
  text-align: center !important;
  margin-top: 0px !important; */
  color: yellow !important;
  animation: winning-message-animation 1s ease infinite alternate-reverse;
}

@keyframes winning-message-animation {
  from {
    /* font-size: 44px; */
    opacity: 0.1;
  }
  to {
    /* font-size: 76px; */
    opacity: 1;
  }
}
